// @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Indie+Flower&family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Indie+Flower&family=Laila&family=Rubik+Distressed&display=swap');
// patrick hand?

// fontjoy= indie flower - alegreya sans sc - laila
// font-family: 'Alegreya Sans SC', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Laila', sans-serif;

// General
$amountPages: 5;

// Colors
$pageBackground: #FFFEFC;

// Fonts
$headingsFont: 'Alegreya Sans SC', sans-serif;
$h2Font: 'Indie Flower', cursive;
$navFont: 'Indie Flower', cursive;
$paragraphFont: 'Laila', sans-serif;
$warningFont: 'Rubik Distressed', cursive;